<div class="jumbotron jumbotron-fluid bg-sky text-white" >
    <div class="container">
      <h1>New Labels Request</h1>      
    </div>
</div>

<%= render 'form', request_label: @request_label %>


